<h1>Hello</h1>
<button onclick="location.href='/auth'">Sign Up</button>
<button onclick="location.href='/auth/login'">Log in</button>
<button onclick="location.href='/auth/logout'">Log out</button>
<button onclick="location.href='/profile'">Profile</button>
